version: "2"

services:
  rproxy:
    image: httpd:alpine
    #restart: always
    volumes:
      - ./share:/gxro/share
      - ./rproxy/htdocs:/usr/local/apache2/htdocs
      - ./rproxy/apache.conf/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./rproxy/apache.conf/gxro:/usr/local/apache2/conf/gxro
    ports:
      - "80:80"

  redmine:
    build:
      context: .
      dockerfile: Dockerfile.my_redmine31
      args:
        http_proxy: ${http_proxy}
    image: my_redmine31
    environment:
      REDMINE_DB_MYSQL: mysql
      REDMINE_DB_PASSWORD: suzusaka
      RAILS_RELATIVE_URL_ROOT: /redmine
    depends_on:
      - mysql
    volumes:
      - ./share:/gxro/share
      - ./redmine/files:/usr/src/redmine/files
      - ./redmine/plugins:/usr/src/redmine/plugins
    #restart: always
    expose:
      - "3000"

  mysql:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: suzusaka
      MYSQL_DATABASE: redmine
    volumes:
      - ./share:/gxro/share
      - ./mysql/db:/var/lib/mysql
    #restart: always
#    ports:
#      - "17861:3306"
    command: "--character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci"

  gitbucket:
    image: takezoe/gitbucket
    volumes:
      - ./gitbucket:/gitbucket
    command: ["java", "-jar", "/opt/gitbucket.war", "--prefix=/gitbucket"]
    expose:
      - "8080"
      - "29418"

  jenkins:
    image: jenkins
    volumes:
      - ./share:/gxro/share
      - ./jenkins/home:/var/jenkins_home
    user: root
    environment:
      JENKINS_OPTS: --prefix=/jenkins
      JAVA_OPTS: -Duser.timezone=Asia/Tokyo -Dfile.encoding=UTF-8 -Dsun.jnu.encoding=UTF-8
    #restart: always
    expose:
      - 8080
      - 50000

  dind:
    image: dind
    build:
      context: .
      dockerfile: Dockerfile.dind
      args:
        http_proxy:  "${http_proxy}"
        https_proxy: "${http_proxy}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/gxro
    ports:
      - "10022:22"
